body {
    background-image: url("/media/suspense-cat.gif");
    background-size: 25%;
    background-repeat: round;
    margin: 0px;
    padding: 0px;
}

.mainApp{
    /*main app details*/
    height: 400px;
    width: max-content;
    display: flex;
    overflow: scroll;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

.navBar{
    display: flex;
    flex-wrap: wrap-reverse;
    float: left;
    width: 7%;
    height: 800px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: aqua;
}

.servicesMain {
    float: inline-start;
    margin-left: 3%;
    margin-right: 60%;
    margin-top: -8%;
    padding-left: 5%;
    padding-right: -15%;
    padding-top: 10%;
    padding-bottom: -7%;
    background-color: brown;
    border-style: dashed;
    border-color: crimson;
    border-width: 10px;
}

.servicesText{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.servicesList{
    font-size: smaller;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.asideApp{
    flex-wrap: wrap;
    padding: 10px;
    float: right;
    margin-left: 2%;
    margin-right: 0%;
    margin-top: 2%;
    margin-bottom: 35%;
    background-color: darkgoldenrod;
    opacity: 85%;
    height: 200px;
    width: 300px;
    overflow: scroll;
}

.methodH{
    font-size: large;
    font-weight: bolder;
    color:darkred;
}

.contactH {
    font-weight: bolder;
    color: darkred;
}

.bigbox{
    padding: 15px;
    margin-top: 200px;
    margin-left: 12%;
    width: 800px;
    justify-content: space-evenly;
}

.mainInfo{
    background-color: darkslategrey;
    padding: 15px;
    height: 250px;
    overflow: scroll;
    flex-wrap: wrap;
}

.reviewbox{
    background-color: darkslategrey;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.aboutMe{
    background-color: coral;
    padding: 10px;
    margin: 10px;
}

.aboutMe_header {
    font-size: 30px;
    color: floralwhite;
}

.catchphrase {
    background-color:coral;
    padding: 10px;
    margin: 10px;
}

.catchphrase-header {
    font-size: 25px;
    color: cornsilk;
}

.reviews{
    background-color: black;
    padding: 0px;
    flex-wrap: wrap;
}

.review-detail{
    padding: 10px;
    margin: 0px;
    border-color:white;
    border-style: ridge;
    border-width: 5px;
    flex-wrap: wrap;
}

.review-text{
    color: white;
}

.review-header{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgrey;
    padding: 10px;
}

.catImages{
    position: fixed;
    margin-left: 600px;
    margin-top: 10px;
    background-color: greenyellow;
    flex-wrap: nowrap;
}

.catwiggle--gif{
    height: 200px;
}
.catpunch--gif{
    height:200px;
}

.assassin--img {
    width: 150px;
    height: 150px;
}