body {
    background-color: tomato;
}

.cat-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.cat--img {
    width: 700px;
    height: auto;
    padding: 20px;
}