.splash {
    background-image: url("https://media.giphy.com/media/3o6Zt0qwMStAG8UivS/giphy.gif");
    background-position: center;

}

.logo {
width: 25%;
height: auto;
}

nav {
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: 50vw;
  min-width: 320px;
  height: 200px;
}

nav h2 {
  border-radius: 2px;
  position: relative;
  background: tomato;
  height: 40px;
  text-transform: uppercase;
  color: ivory;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
  transition: all .4s;
}

nav:hover h2{
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,.35);
 }

nav:hover:active h2{
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,.35);
 }

 input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 40px;
}

#toggle:checked ~ul {
  height: 0%;
}

 nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;
}

nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: tomato;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,.35);
}

nav ul li:hover {
  background: mediumorchid;
  transition: background .45s;
}

nav ul a {
  display: block;
  color: ivory;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color .3s;
}

.assassins__footer {
    text-align: center;
    font-family: 'Henny Penny', cursive;
    background-image: url("https://cdn3.iconfinder.com/data/icons/terrorism-8/512/target-sniper-circular-gun-shooting-512.png");
    background-size: 150px;
    width: 100%;
    font-size: larger;
    background-position: center;
    color: white;
    border: dotted aqua 5px;
}

  .page1--icon {
    background-color: rgb(46, 44, 44);
    height: 30px;
    width: 200px;
    padding: 5px;
    margin-bottom: -7px;
    opacity: 80%;
  }

  .page2--icon{
    background-color: rgb(50, 22, 70);
    height: 30px;
    width: 200px;
    margin-top: 15px;
    opacity: 80%;
  }

  .page3--icon{
    background-color: rgb(16, 16, 77);
    height: 30px;
    width: 200px;
    opacity: 80%;
  }

  .page4--icon{
    background-color: rgb(55, 61, 44);
    height: 30px;
    width: 200px;
    opacity: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .link-font{
    color:darkseagreen;
  }

  .dropdown{
    height: 200px;
    overflow: scroll;
  }

  .marketing{
    justify-content: center;
  }

  .dropdown-font {
    color: rgb(20, 19, 19);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .marketing-hook {
    height: 300px;
    overflow: scroll;
  }

  .num-font {
    color: rgb(20, 19, 19);
    font-size: 70px;
  }

  .market-font {
    color: rgb(20, 19, 19);
    font-size: 45px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    background-color: hotpink;
  }

  .fa-facebook {
    background: red;
    color: yellow;
  }
  
  .fa-twitter {
    background: limegreen;
    color: purple;
  }
  