.ev__main {
  background-image: url("");
}

.ev-about__h1, .ev-methods__h2, .ev-payment__h3, .ev-payment__h4, .ev--contact__h5, .ev--reviews__h5, .ev--catchphrase__h6 {
  font-family: 'Press Start 2P', cursive;
}

.ev--reveiws__p, .ev--reviewer__p, .ev--reviewer--origin__p, .ev--phone__p, .ev--email__p, .ev--payment__p, .ev--methods__p, .ev--methods__ul, .ev--about__p {
  font-family: 'Press Start 2P', cursive;

}

.ev--catchphrase {
  background-color: brown;
  text-align: center;
  color: orange;
}

.ev--catchphrase:hover {
font-size: 700%;
}