
.ev__html {
  background-image: url("https://media.giphy.com/media/cj1kwS7Bos9pd3aNOD/giphy.gif");
  background-position: center;
}

.ev__main {
  font-family: 'Press Start 2P', cursive;
}

.ev--catchphrase, .ev--contact__h5, .ev--reviews__h5, .ev--payment__h5, .ev--methods__h5, .ev--about__h5 {
  background-color: brown;
  text-align: center;
  color: orange;
  padding: 2rem;
}

.ev--catchphrase:hover {
  font-size: 700%;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
  color: brown;
}

@keyframes blink {
  0% {
    opacity: 1;
  } 
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ev--container1 {
  display: flex;
  justify-content: space-evenly;

}

.ev--reviews__section, .ev--contact__section, .ev--container2, .ev--container3 {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 50%;
  background-image: url("https://www.wallpaperboulevard.com/Images/product/beige-bedroom-plaid-wallpaper-bjmh-l.jpg");
  margin: 2rem 3rem 2rem 3rem;
  padding: .5rem;
}

.ev--contact__section {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.ev--reviewer__div {
  display: flex;
  font-style: italic;  
}

.ev--contact__div {
  display: flex;
  flex-wrap: wrap;
}

.ev--picture__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ev--contact__img {
  width: 30%;
  height: 50%;
}

.ev--container2, .ev--container3 {
  margin-left: auto;
  margin-right: auto;
}

.ev--cashonly__p {
  background-color: brown;
  color: wheat;
  text-align: center;
}

.ev--about__img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}
 
  
.ev--about__img:hover {
  filter: invert(100%);
}

.ev--container4 { 
  display: flex;
  flex-wrap: wrap;
  background-image: url("https://www.wallpaperboulevard.com/Images/product/beige-bedroom-plaid-wallpaper-bjmh-l.jpg");
  margin: 2rem 3rem 2rem 3rem;
  padding: .5rem;
}
