
.ph-html {
  background-image: url("/media/arsenic.gif");
  background-position: center;
}


.body {
    font-family: 'Are You Serious', cursive;
}


/* Nav Bar */

nav h2 {
  border-radius: 2px;
  position: relative;
  background: tomato;
  height: 40px;
  text-transform: uppercase;
  color: ivory;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
  transition: all .4s;
}
nav:hover h2{
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,.35);
 }
nav:hover:active h2{
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,.35);
 }
 input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 40px;
}

#toggle:checked ~ul {
  height: 0%;
}
 nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: circle;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;
  
}
nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: tomato;
  transition: background-position 3s;
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,.35);
}

nav ul li:hover {
  background: mediumorchid;
  transition: background-position .45s;
}

nav ul a {
  display: block;
  color: ivory;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color .3s;
}
 /* Text Styling*/
  

h1 {
    display: flex;
    justify-content: center;
    padding: 2em;
    font-family: 'Permanent Marker', cursive;
}

h4 {
  font-size: 20pt;
  margin: 1rem;
}

.reviews__header5 {
  font-family: 'Permanent Marker', cursive;
  font-size: 18pt;
  margin: 1rem;
}

.reviews__p {
  font-family: 'PT Serif', serif;
  font-size: 14pt;
  margin: 1rem;
}

.reviews-header6, .payment__header4, .services__header4 {
  font-family: 'Are You Serious', cursive;
  margin: 2rem;
  font-size: 16pt;
}

/* Image Styling */

img {
  height: 200px;
}
 q {
  margin: 1rem;
  display: inline-block;
 }

/* Container & Side Styling */

#app {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding: 1em;

}

.left, .right {
  border: 2px solid rgb(5, 71, 71);
}

.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #6fe989a8;
  left: 5px;
  width: 60%;
  margin: .5em;
  padding: 2rem;
}

.right {
  background-color: #f1c36dde;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  right: 5px;
  width: 20%;
  margin: .5em;
  padding: 2rem;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.bottom {
 display: flex;
 justify-content: center;
 flex-direction: row;
 background-color: #575aeed4;
  right: 5px;
  left: 5px;
  width: 100%;
  margin: .5em;
  padding: 5rem;
}

.review-box {
  border: 1px solid;
  padding: 1em;
}

.checked {
  color: rgba(255, 166, 0, 0.379);
}

.container {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}


/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=M+PLUS+Rounded+1c:wght@100&family=PT+Serif&family=Permanent+Marker&display=swap');