
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(0, 1, 1);
    text-decoration-color: antiquewhite;
  
}



h1 {
    display: flex;
    justify-content: center
}

h1 {
    padding: 2em
}

h4 {
  font-size: 20pt;
  margin: 1rem;
}

h5 {
  font-family: 'Permanent Marker', cursive;
  font-size: 16pt;
  margin: 1rem;
}

h6 {
  font-family: 'PT Serif', serif;
  font-size: 14pt;
  margin: 1rem;
}

p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 2rem;
  font-size: 12pt;
}

img {
  height: 200px
}
 q {
  margin: 1rem;
  display: inline-block;
 }


#app {
  display: flex;
  justify-content: space-around;
  padding: 1em;

}

.left, .right {
  border: 2px solid rgb(5, 71, 71);
}

.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #6fe989;
  left: 5px;
  width: 60%;
  margin: .5em;
  padding: 2rem;
}

.right {
  background-color: #f1c36d;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  right: 5px;
  width: 20%;
  margin: .5em;
  padding: 2rem;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.bottom {
 display: flex;
 justify-content: center;
 flex-direction: row;
 background-color: #5759ee;
  right: 5px;
  left: 5px;
  width: 100%;
  margin: .5em;
  padding: 2rem;
  text-shadow: .5px;
}

.review-box {
  border: 1px solid;
  padding: 1em;
}

.checked {
  color: orange;
}

.container {
  display: flex;
  justify-content: flex-start;

}


/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&family=PT+Serif&family=Permanent+Marker&display=swap');